{% extends 'baselogado.html' %}
{% load bootstrap %}
{% block main%}
<div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Contato</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form">
              <div class="box-body">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  {% csrf_token %}
                  {{ form|bootstrap }}
                </div>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
<h1>Contato</h1>
<form method="post">
    {% csrf_token %}
    {{ form|bootstrap }}
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Send</button>
    </div>
</form>


{% endblock%}